/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    background-color: #222;
    font-size: 1em;
    line-height: 1.4;
    background-image: url('../img/img-1.jpeg');
    background-position: center;
    background-size: cover;
    
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container {
    display: table;
}
aside, .main {
    display: table-cell;
    vertical-align: top;
}
aside {
    min-width: 320px;
    background: transparent;

}
html, body, .container, aside, .main, .grid {
    width: 100% ;
}

.main { 
    display: none;
    width: 100%;
}

h1.brand {
    margin-top: 0;
    margin-bottom: 0;
} 
.brand {
    background: #fff;
    background-image: url('../img/logos/pearse-street-studio.jpg');
    height: 255px;
    width: 255px;
    text-indent: -9999px;
    text-align: center;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    }

.profile {
    min-height: 60px;
    width: 100%;
    box-sizing: border-box;

    
    }

    .profile a {
        width: 255px;
        height: 65px;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.7;
        margin: 10px auto;

    }
     .profile a:hover, .profile a:focus {
        opacity: 1.0;
     }  

    .profile.stef-king a{
        background-image: url('../img/logos/stef-king.jpg');
    }
     .profile.beautiful-you a{
        background-image: url('../img/logos/beautiful-you.jpg');
    }
     .profile.janet-craig a{
        background-image: url('../img/logos/janet-craig.jpg');
    }
     .profile.portrait-physique a{
        background-image: url('../img/logos/portrait-physique.jpg');
    }
     .profile.steven-hughes a{
        background-image: url('../img/logos/steve-hughes.jpg');
    }
     .profile.unique-portraits a{
        background-image: url('../img/logos/unique-portraits.jpg');
    }
     .profile.fisher-photography a{
        background-image: url('../img/logos/fisher-photography.jpg');
    }



/* fluid 5 columns */

.grid-sizer,
.grid-item { 
    width: 100%; 
    height: 20% ; 
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8c8c8c+0,5b5b5b+50,190505+100 */
    background: #8c8c8c; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #8c8c8c 0%, #5b5b5b 50%, #190505 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #8c8c8c 0%,#5b5b5b 50%,#190505 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #8c8c8c 0%,#5b5b5b 50%,#190505 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#190505',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-size: cover; 
    background-position: center;
}

/* 2 columns */
.grid-item--width2 { width: 66.6666%; background-color: green;}
.grid-sizer {
    width: 100%;
    height: 100%;
    display: none;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}



.large-screen {
        display: none;
    }
.small-screen {
        display: block;
    }    














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 33em) {
    /* Style adjustments for viewports that meet the condition */
    html {
        background: #222;
    }

    html, body, .container, aside, .main, .grid {
    height: 100% ;
    width: 100% ;
    }


    aside {
    width: 25% ;
    background-color: #fff;
    }

    .main {
        position: fixed;
        width: 75%;
    }

    .profile {
        width: 100%;
        border: 1px solid #eee;
        box-sizing: border-box;
        background-color: #fff;
        text-align: center;
        padding: 10px; 
       
    } 

    .profile a {
        width: 100%;
        height: 100%;
    }
   
    .large-screen {
        display: block;
    }

    .small-screen { 
        display: none;
    }
    .main {
        display: block;
    }
}
@media only screen and (min-width: 50em) {
.grid-item { width: 50%; height: 25% ; }
}

@media only screen and (min-width: 66em) {
.grid-item { width: 33.3333333%; height: 33.3333333%; }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
